
{{> head}}



{{> navbar  }}
<div class="row">
    <div class="col-8">
        <h1>
            Fideos
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo omnis saepe dignissimos possimus nisi, voluptate veniam suscipit dolor obcaecati accusantium dolores cupiditate eveniet sequi ipsa, dolorem nam tenetur, molestiae animi.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/DSC_0044.JPG" class="img-thumbnail">
    </div>
</div>


{{>footer }}

